#newBadge {
    display: none;
}

#badge-selector {
    display: inline-block;
}

#add-new-btn {
    display: inline-block;
    margin-left: 20px;
}

.error-msg {
    color: $error;
    font-weight: bold;
    display: block;
    height: 1rem;
}

.form-error {
    display: block;
    padding: 10px 5px 40px 5px;
}

#issue, #create {
    margin: 20px 20px;
    width: calc(100% - 40px);
}

@media only screen and (min-width: 680px) {
    #issue, #create {
        width: initial;
        float: right;
        position: relative;
        top: -20px;
    }
}
