body {
    font-family: Arial,Helvetica,Verdana;
    margin: 0;
    background: #666; /* same as footer */
}

.full-width {
    width: 100%;
    margin: 0;
}

#top-bar > header {
    padding: 10px 150px 10px 20px;
}

#page {
    padding: 10px 0 30px 0;
}

main {
    margin: 0;
    padding: 0;
}

label {
    margin: 10px 0 3px 0;
}

label, input:not(#password), textarea {
    display: block;
    width: 100%;
}

#badge-selector {
    min-width: 300px;
    display: block;
    margin-bottom: 10px;
}

button {
    margin: 10px 0;
}

fieldset > span {
    display: inline-block;
}

fieldset {
    margin: 20px 5px;
}

.lone {
    margin: 0 20px;
}

#foot-bar > footer {
    clear: both;
    padding: 30px 20px;
}

@media only screen and (min-width: 680px) {
    .full-width > * {
        margin: 0 auto;
        max-width: 960px;
    }
}